.body{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro{
    text-align: center;
    background-image: url("./img/fondo.png");
    background-size: cover;
}

.header{
    background-color: rgba(3,3,40,0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img{
    width: 10%;
    padding: 10px;
}

.header-button{
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 8px;
    border: 0px;
    margin: 5px 15px;
    background-color: rgb(181, 53, 246);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.intro-title{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto;
}

.intro-text{
    font-size: 11px;
    font-weight: 100;
}

.intro-button{
    text-transform: uppercase;
    border-radius: 50px;
    padding: 8px 50px;
    font-size: 12px;
    border: 0px;
    margin-bottom: 60px;
    background-color: rgb(181, 53, 246);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.value-proposal{
    background-color: #030328;
    margin-top: 0px;
    border: 0px;
    text-align: center;
    padding: 10px;
}

.vp-title{
    font-size: 30px;
    font-weight: 300;
}

.vp-text{
    max-width: 600px;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 300;
}

.banner1{
    display: flex;
    margin: auto;
}

.banner1-img{
    width: 480px;
}

.banner1-info{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    margin: auto;
}

.banner1-logo{
    width: 300px;
    margin: auto;
}

.banner1-text{
    color: black;
    text-transform: uppercase;
    font-weight: 550;
}

.banner1-button{
    margin: auto;
    background-color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 30px;
    border-width: 2px;
    font-size: 12px;
}

#banner2{
    background-color: #0A1E2B;
}

#banner2-info{
    margin: 30px auto;
}

#banner2-logo{
    width: 250px;
}

#banner2-text{
    color: white;
}

#banner2-button{
    border-color: white;
    color: white;
    background: none;
}

#banner2-img{
    margin-right: 30px;
}

.faqs{
    background-color: #030328;
    padding: 20px;
    font-size: 14px;
    border-bottom: 5px solid rgb(158, 134, 255);
}

.details{
    max-width: 600px;
    padding-left: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: auto;
    color: rgb(158, 134, 255);
    border-bottom: 1px solid rgb(158, 134, 255);
}

.faqs-title{
    text-align: center;
}

.faqs-info{
    color: white;
}

.help-link{
    text-decoration: none;
    color: rgb(158, 134, 255);
}

.footer{
    background-color: #030328;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 30px 10px 10px 50px;
}

.footer-link{
    text-decoration: none;
    color: white;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 12px;
}

.rights{
    text-align: center;
    font-size: 8px;
    margin-top: 0px;
    padding-bottom: 50px;
}